DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_DEBUG=True
DJANGO_BASE_BACKEND_URL=http://localhost:8000
DJANGO_CORS_ORIGIN_WHITELIST=http://localhost:3000
DJANGO_ALLOWED_HOSTS=localhost

SESSION_COOKIE_SECURE=True
SESION_COOKIE_AGE=1209600  # 2 weeks
SESSION_COOKIE_HTTTPONLY=True
CSRF_USE_SESSIONS=True
SECURE_SSL_REDIRECT=True
SECURE_CONTERT_TYPE_NOSNIFF=True

FILE_MAX_SIZE=10485760  # 10 MB

PAGINATE_BY_DEFAULT=10