{% load i18n %}

{% if filter_form %}
    <div class="mb-3 row row-cols-lg-3 row-cols-md-2 row-cols-1 g-3">
        {% for field in filter_form %}
            <div class="col">
                {{ field.label }}:
                {% if field.field.required %}<span class="text-danger">*</span>{% endif %}
                {{ field }}
                {% if field.help_text %}
                <div class="form-text">{{ field.help_text }}</div>
                {% endif %}
                {% for error in field.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endif %}